input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.space {
   display: flex;
   justify-content: space-between;
}

.align-center {
   align-items: center;
}

.center {
   display: flex;
   justify-content: center;
}

.ant-popover-inner {
   width: 29rem;

   .ant-popover-title {
      text-align: center;
   }

   .ant-row {
      max-height: 500px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
         display: none;
      }
   }
}